body{
    width: 15%;
}

img{
    width: 50px;
}
#tablazat{
    background-color: rgb(66, 66, 66);
    color:white;
}
table tr{
    border-bottom: 2px rgb(100, 100, 100);
}
#kepek{
    float: right;
}